
verbose: True


description: "### This is a chatbot interface powered by vLLM"


examples:
- How are you?
- Is it possible to build a room temperature superconductor?
- Should I go to the beach in Santa Cruz tomorrow?
- Explain the conflict between Zuck and Elon
- Summarize today's nytimes.com headlines


enabled_models:
- vLLM
- qwen


enabled_browsers:
- Chrome


openstack_ip_port: "199.94.60.39:8000"
api_key: "ec528"


temperature: 0.1


max_actions: 5



qwen:
  model_name: "qwen-4b"
  api_key: "YOUR_API_KEY"

 
